/* Variables */

:root{
    --basic-background-color: #EEEEEE;
    --basic-text-opacity-active: rgb(255,255,255, 0.3);
    --basic-black: #000000;
    --basic-red-hover: #fb565a;
    --basic-red-active: #d7373b;
    --basic-green: #00ca74;
    --basic-yellow: #efc849;
    --basic-white:#fff;
    --app-button: #00ca74;
    --app-button-hover:#00bc6c;
    --app-button-active: #00aa62;
    --presentation-button: #efc849;
    --presentation-button-hover: #eab534;
    --presentation-button-active: #e5a722;
    --basic-callback: #666666;
    --button-hover-background-grey: #DFDFDF;
    --button-active-background-grey: #D5D5D5;
    --text-filters: #283136;
}

/* Global */

body{
    min-width:1440px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;

}

.page{
    height: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%; /*Чтобы в блок помещались изображения любых размеров*/
    height: auto;
}

.container {
    width: 1240px;
    margin: 0 auto;
    padding: 0 10px;
  }

.hr-line{
    margin: 0;
    padding: 0;
    border: none;
    border-top: 1px solid var(--basic-background-color);
    margin-bottom: 39px;
}

.index-columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}


/* Main-navigation */

.main-navigation{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: var(--basic-black);
    background-color: transparent; /*Прозрачный фон*/
}

.main-navigation-bar{
    display: grid;
    grid-template-columns: 160px 1fr min-content;
    gap: 24px;
    background-color: var(--basic-background-color);
    align-items: center;
}

.site-navigation{
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    padding: 0;
    margin: auto;
    list-style: none;
}

.site-navigation li{
    margin-right: 45px;
}

.slider-list h1{
    margin: 0;
}

.slider-item p{
    margin: 0;
    margin-bottom: 25px;
}

.slider-item p:nth-child(2){
    margin-bottom: 38px;
}

.slider-button{
    display: inline-block;
    margin-bottom: 80px;
}

.site-navigation a,
.login-link {
    color: var(--basic-black);
    text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus,
.login-link:hover,
.login-link:focus{
    color: var(--basic-red-hover);
}

.main-header-logo:hover{
    opacity: 0.7;
}

/* Main-slider */


.slider-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.main-slider{
    /*display: grid;
    grid-template-columns: 530px auto;
    grid-template-rows: auto auto;*/
    margin-bottom: 80px;
    background-color: var(--basic-background-color);
}

.main-slider h1{
    grid-column: 1 / -1;
}


/* slider */


.slide-button{
    width: 240px;
    height: 50px;
}
.button {
    background-color: var(--basic-red-hover);
    color: var(--basic-white);
    padding: 17px 54px 15px 54px;
    border-radius: 3px;
}

.slider-item__text-title{
    font-size: 55px;
    font-weight: 600;
    line-height: 55px;
}

.button:hover{
    background-color: var(--basic-red-hover);
}

.button:active{
    background-color: var(--basic-red-active);
    color: var(--basic-text-opacity-active);
}

.main-slider a:hover{
    background-color: var(--basic-red-hover);
}

.main-slider a:active{
    background-color: var(--basic-red-active);
}

/* Advantages */

.advantages{
    margin-bottom: 80px;
}

.advantages-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.advantages-item{
    text-align: left;
}

.advantages-item h3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.site-button:hover{
    background-color: var(--basic-red-hover);
}

.site-button:active{
    background-color: var(--basic-red-active);
}

.app-button {
    background-color: var(--app-button);  
}

.app-button:hover {
    background-color: var(--app-button-hover);
}

.app-button:active{
    background-color: var(--app-button-active);
}

.presentations-button{
    background-color: var(--presentation-button);
}

.presentations-button:hover{
    background-color: var(--presentation-button-hover);
}

.presentations-button:acitve{
    background-color: var(--presentation-button-active);
}

/* Service */ 

.service{
    grid-column: 1 / 3;
}

.services .slogan{
    font-size: 45px;
    line-height: 45;
}

.service-uppercase{
    text-transform: uppercase;
}

/* statistics */

.statics-content caption{
    font-weight: 700;
    font-size: 16px;
}

.statistics-list {
    list-style: none;
}

.statistics-item strong{
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
}

/* partners */


.partners-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 44px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.partners-item{
    opacity: 0.2;
}

.partners-item:hover{
    opacity: 1;
}

.partners-item:active{
    opacity: 0.1;
}

/* contacts */

.contacts p{
    color: var(--basic-callback)
}

.contacts h2{
    font-weight: 700;
    text-transform: uppercase;
}

.contacts-telephone{
    color: var(--basic-callback);
}

/* footer-social */

.main-footer{
    padding: 60px 0;
    margin-top: 65px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 44px;
}

.footer-advantages{
    grid-column: 5 / -1;
}

.footer-social{

    grid-column: 1 / 3;
}

.social-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.cta-text{
    font-weight: 700;
    font-size: 36px;
    line-height: 36;
}

/* Callback */

/*
.callback{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 77px 135px;
    gap: 44px;
}

.callback-user{
    grid-column: 2 / 9;
}

.callback-text{
    grid-column: 2 / 9;
}
*/


/* page Catalog */
.page-body{
    min-width: 1440px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.heading-catalog{
    text-align: center;
    padding-top: 32px;
    padding-bottom: 108px;
    margin-bottom: 55px;
}

.main-bg{
    background-color: var(--basic-background-color);
}

.page-catalog{
    display: grid;
    grid-template-columns: 260px 1fr;
    align-content: start;
}


/* Forms */

.form-filter fieldset{
    padding: 0;
    margin: 0;
    border: none;
}

.form-filter legend{
    font-size: 18px;
    line-height: 30px;
}

.form-filter .form-price{
    margin-bottom:48px;
}

.form-filter input[type="text"]{
    background-color: var(--basic-background-color);
    border: none;
    width: 80px;
    height: 38px;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
}

.form-filter_list{
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 20px;
    font-size: 16px;
    margin-top:14px;
    margin-bottom: 43px;
}

.form-filter_list li{
    margin-bottom: 20px;
}
.form-filter_list input{
  margin-right: 11px;
}


.form-price,
.form-grid,
.form-feature{
    padding: 0;
    margin: 0;
    font-weight: 700;   
    color: #283136;
    font-size: 18px;
    line-height: 30px; 
    text-transform: uppercase;
}
/*
#myRange{
    display: flex;
    flex
    flex-grow: 0;
}
*/
.form-filter{
    display: flex;
    flex-direction: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    font-weight: 400;
    width: 260px;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-filters);
}

/* Button form */
.button-form{
    background-color: var(--basic-background-color);
    padding: 16px 88px;
    color: var(--basic-black);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
}

.button-form:hover{
    background-color: var(--button-hover-background-grey) ;
}

.button-form:active{
    background-color: var(--button-active-background-grey);
    opacity: .3;
    box-shadow: inset 0px 3px 0px var(#0001011A);
}


/* Sort list */

.sort-list-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 48px;
}

.sort-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sort-list li{
    margin-right: 10px;
}

.clear-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sort-list a{
    font-weight: 400;
    opacity: .6;
    font-size: 14px;
    line-height: 18px;
    color: var(--text-filters);
    text-transform: uppercase;
}

.sort-list a:hover{
    opacity: .3;
}

.sort-list a:active{
    opacity: 1;
}

/* Products / catalog */

.product-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 25px;
    margin-bottom: 55px;
}

.products-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 40px;
}

.products{
    margin-left: 140px;
}

.products-description{
    background-color: var(--basic-white);
    text-align: center;
    margin-right:40px;
    margin-bottom:30px;
}

.products-description:nth-child(2n){
    margin-right: 0;
}

.product-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    padding: 26px 140px;
    color: var(--basic-black);
}

.product-name:hover{
    color: var(--basic-red-hover);
}

.product-name:active{
    opacity: .3;
}

.product-button:active{
    color: var(--basic-white)
}

.product-info{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-callback);
    padding-top: 12px;
    padding-bottom: 32px;
}


/* Pagingations */
.pagination{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 55px;

}

.page-item{
    background-color: var(--basic-background-color);
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    line-height: 50px;
    text-align: center;
    color: var(--basic-black);
    border-radius: 3px;
    margin-right: 11px;
}

.page-item:hover{
    background-color: var(--basic-white);
    border: 3px solid var(--basic-background-color);
}

.page-item:hover:not(.page-active){
    background-color: var(--basic-background-color);
}

.page-item:active:not(.page-active){
    background-color: var(--basic-background-color);
    color: var(--basic-black);
}

.next-page{
    width: 260px;
    height: 50px;
} 

.page-active{
    background-color: var(--basic-white);
    border: 3px solid var(--basic-background-color);
    width: 44px;
    height: 44px;
    line-height: 47px;
}