/* Variables */

:root{
    --basic-background-color: #EEEEEE;
    --basic-text-opacity-active: rgb(255,255,255, 0.3);
    --basic-black: #000000;
    --basic-red-hover: #fb565a;
    --basic-red-active: #d7373b;
    --basic-green: #00ca74;
    --basic-yellow: #efc849;
    --basic-white:#fff;
    --app-button: #00ca74;
    --app-button-hover:#00bc6c;
    --app-button-active: #00aa62;
    --presentation-button: #efc849;
    --presentation-button-hover: #eab534;
    --presentation-button-active: #e5a722;
    --basic-callback: #666666;
    --button-hover-background-grey: #DFDFDF;
}

/* Global */

body{
    min-width:1440px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%; /*Чтобы в блок помещались изображения любых размеров*/
    height: auto;
}

/* Main-navigation */

.main-navigation{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: var(--basic-black);
    background-color: transparent; /*Прозрачный фон*/
}
.site-navigation{
    list-style: none;
}
.site-navigation a,
.login-link {
    color: var(--basic-black);
    text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus,
.login-link:hover,
.login-link:focus{
    color: var(--basic-red-hover);
}

.main-header-logo:hover{
    opacity: 0.7;
}

/* Main-slider */

.main-header{
    background-color: var(--basic-background-color);
}
    
.main-slider{
    background-color: var(--basic-background-color);
}

/* slider */


.slide-button{
    width: 240px;
    height: 50px;
}
.button {
    background-color: var(--basic-red-hover);
    color: var(--basic-white);
    padding: 17px 54px 15px 54px;
    border-radius: 3px;
}

.button:hover{
    background-color: var(--basic-red-hover);
}

.button:active{
    background-color: var(--basic-red-active);
    color: var(--basic-text-opacity-active);
}

.main-slider a:hover{
    background-color: var(--basic-red-hover);
}

.main-slider a:active{
    background-color: var(--basic-red-active);
}

/* Advantages */

.advantages-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.advantages-item{
    text-align: left;
}

.advantages-item h3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.site-button:hover{
    background-color: var(--basic-red-hover);
}

.site-button:active{
    background-color: var(--basic-red-active);
}

.app-button {
    background-color: var(--app-button);  
}

.app-button:hover {
    background-color: var(--app-button-hover);
}

.app-button:active{
    background-color: var(--app-button-active);
}

.presentations-button{
    background-color: var(--presentation-button);
}

.presentations-button:hover{
    background-color: var(--presentation-button-hover);
}

.presentations-button:acitve{
    background-color: var(--presentation-button-active);
}

/* Service */ 

.services .slogan{
    font-size: 45px;
    line-height: 45;
}

.service-uppercase{
    text-transform: uppercase;
}

/* statistics */

.statistics-uppercase{
    text-transform: uppercase;
    line-height: 24;
    font-size: 16px;
}

.statistics-list {
    list-style: none;
}

.statistics-item strong{
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
}

/* partners */

.partners-list {
    list-style: none;
}

.partners-item{
    opacity: 0.2;
}

.partners-item:hover{
    opacity: 1;
}

.partners-item:active{
    opacity: 0.1;
}

/* contacts */

.contacts p{
    color: var(--basic-callback)
}

.contacts h2{
    font-weight: 700;
    text-transform: uppercase;
}

.contacts-telephone{
    color: var(--basic-callback);
}

/* footer-social */

.social-list{
    list-style: none;
}

.cta-text{
    font-weight: 700;
    font-size: 36px;
    line-height: 36;
}

/* page Catalog */

/* Forms */

.form-filter fieldset{
    border: none;
}

.form-filter input[type="text"]{
    background-color: var(--basic-background-color);
    border: none;
    width: 80px;
    height: 38px;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
}

.form-sort,
.form-filter{
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.button-form{
    background-color: var(--basic-background-color);
    padding: 16px 88px;
    color: var(--basic-black);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
}

.button-form:hover{
    background-color: var(--button-hover-background-grey) ;
}